# Merging data

notebook for merging data

In [1]:
# import modules
import re
import pandas as pd
import numpy as np
import string

## Read in dataframes

In [2]:

# these are the NYT best seller list
nyt_2016_df = pd.read_csv('../data/nyt_2016_df.csv')
nyt_2017_df = pd.read_csv('../data/nyt_2017_df.csv')
nyt_2018_df = pd.read_csv('../data/nyt_2018_df')

# these are all of our books
gr_2016_df = pd.read_csv('../data/goodreads_2016_df.csv')
gr_2017_df = pd.read_csv('../data/goodreads_2017_df.csv')
gr_2018_df = pd.read_csv('../data/goodreads_2018_df.csv')

## Merge thte NYT Bestseller dataframes

In [3]:
nyt_2018_df.shape

(100, 10)

In [4]:
nyt_2016_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year
0,Yaa Gyasi,A novel of breathtaking sweep and emotional po...,Hardcover,Historical,June,320,Alfred A. Knopf,4.42,Homegoing,2016
1,Colson Whitehead,Cora is a slave on a cotton plantation in Geor...,Hardcover,Historical,August,306,Doubleday Books,4.03,The Underground Railroad,2016
2,Paul Kalanithi,"For readers of Atul Gawande, Andrew Solomon, a...",Kindle Edition,Nonfiction,January,208,Random House (first p...,4.34,When Breath Becomes Air,2016
3,Matthew Desmond,<b><i>New York Times </i>Bestseller<br/><br/>F...,Hardcover,Nonfiction,March,418,Crown,4.49,Evicted: Poverty and Profit in the American City,2016
4,Ian McGuire,LONGLISTED FOR THE MAN BOOKER PRIZE 2016,Hardcover,Historical,March,272,Henry Holt and Co. (f...,4.00,The North Water,2016

In [5]:
nyt_2017_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year
0,David Grann,"In the 1920s, the richest people per capita in...",ebook,Nonfiction,April,359,Doubleday,4.11,Killers of the Flower Moon: The Osage Murders ...,2017.0
1,George Saunders,"In his long-awaited first novel, American mast...",Hardcover,Fiction,February,343,Random House,3.79,Lincoln in the Bardo,2017.0
2,Min Jin Lee,<i>Pachinko</i>,Hardcover,Historical,February,489,Grand Central Publishing,4.26,Pachinko,2017.0
3,Mohsin Hamid,In a country teetering on the brink of civil w...,Hardcover,Fiction,March,231,Riverhead (first publ...,3.81,Exit West,2017.0
4,Ali Smith,Autumn. Season of mists and mellow fruitfulnes...,Hardcover,Fiction,February,263,Pantheon Books (first...,3.72,Autumn,2016.0

In [6]:
nyt_2018_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year
0,Michael Ondaatje,In a narrative as mysterious as memory itself ...,Paperback,Historical,June,304,Jonathan Cape (first ...,3.73,Warlight,2018.0
1,Tayari Jones,Newlyweds Celestial and Roy are the embodiment...,Hardcover,Fiction,February,308,Algonquin Books (firs...,4.01,An American Marriage,2018.0
2,Tommy Orange,"Fierce, angry, funny, heartbreaking—Tommy Oran...",Hardcover,Fiction,June,294,Knopf,4.07,There There,2018.0
3,Lisa Halliday,A singularly inventive and unforgettable debut...,Hardcover,Fiction,February,277,Simon & Schuster,3.60,Asymmetry,2018.0
4,Richard Powers,An Air Force loadmaster in the Vietnam War is ...,Hardcover,Fiction,April,502,W. W. Norton & Company,4.25,The Overstory,2018.0

In [7]:
# put it together
nyt_df = pd.concat([nyt_2016_df, nyt_2017_df, nyt_2018_df])

In [8]:
nyt_df.shape

(300, 10)

In [9]:
nyt_df .head()

,author,description,format,genre,month,pages,publisher,rating,title,year
0,Yaa Gyasi,A novel of breathtaking sweep and emotional po...,Hardcover,Historical,June,320,Alfred A. Knopf,4.42,Homegoing,2016.0
1,Colson Whitehead,Cora is a slave on a cotton plantation in Geor...,Hardcover,Historical,August,306,Doubleday Books,4.03,The Underground Railroad,2016.0
2,Paul Kalanithi,"For readers of Atul Gawande, Andrew Solomon, a...",Kindle Edition,Nonfiction,January,208,Random House (first p...,4.34,When Breath Becomes Air,2016.0
3,Matthew Desmond,<b><i>New York Times </i>Bestseller<br/><br/>F...,Hardcover,Nonfiction,March,418,Crown,4.49,Evicted: Poverty and Profit in the American City,2016.0
4,Ian McGuire,LONGLISTED FOR THE MAN BOOKER PRIZE 2016,Hardcover,Historical,March,272,Henry Holt and Co. (f...,4.00,The North Water,2016.0

In [10]:
#df[df.duplicated(['ID'], keep=False)]

# this is to test
title_df = nyt_df[nyt_df.duplicated(['title'], keep=False)]

In [11]:
nyt_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year
0,Yaa Gyasi,A novel of breathtaking sweep and emotional po...,Hardcover,Historical,June,320,Alfred A. Knopf,4.42,Homegoing,2016.0
1,Colson Whitehead,Cora is a slave on a cotton plantation in Geor...,Hardcover,Historical,August,306,Doubleday Books,4.03,The Underground Railroad,2016.0
2,Paul Kalanithi,"For readers of Atul Gawande, Andrew Solomon, a...",Kindle Edition,Nonfiction,January,208,Random House (first p...,4.34,When Breath Becomes Air,2016.0
3,Matthew Desmond,<b><i>New York Times </i>Bestseller<br/><br/>F...,Hardcover,Nonfiction,March,418,Crown,4.49,Evicted: Poverty and Profit in the American City,2016.0
4,Ian McGuire,LONGLISTED FOR THE MAN BOOKER PRIZE 2016,Hardcover,Historical,March,272,Henry Holt and Co. (f...,4.00,The North Water,2016.0

In [12]:
title_df.shape

(22, 10)

In [13]:
nyt_df = nyt_df.drop_duplicates(subset='title')#, keep="last")

In [14]:
nyt_df.shape[0]

289

### Merge best seller dataframe with all books dataframe

In [15]:
nyt_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year
0,Yaa Gyasi,A novel of breathtaking sweep and emotional po...,Hardcover,Historical,June,320,Alfred A. Knopf,4.42,Homegoing,2016.0
1,Colson Whitehead,Cora is a slave on a cotton plantation in Geor...,Hardcover,Historical,August,306,Doubleday Books,4.03,The Underground Railroad,2016.0
2,Paul Kalanithi,"For readers of Atul Gawande, Andrew Solomon, a...",Kindle Edition,Nonfiction,January,208,Random House (first p...,4.34,When Breath Becomes Air,2016.0
3,Matthew Desmond,<b><i>New York Times </i>Bestseller<br/><br/>F...,Hardcover,Nonfiction,March,418,Crown,4.49,Evicted: Poverty and Profit in the American City,2016.0
4,Ian McGuire,LONGLISTED FOR THE MAN BOOKER PRIZE 2016,Hardcover,Historical,March,272,Henry Holt and Co. (f...,4.00,The North Water,2016.0

In [16]:
# add column for Bestseller
nyt_df.shape

(289, 10)

In [17]:
# add in target feature
nyt_df['best_seller'] = 1

In [20]:
nyt_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
0,Yaa Gyasi,A novel of breathtaking sweep and emotional po...,Hardcover,Historical,June,320,Alfred A. Knopf,4.42,Homegoing,2016.0,1
1,Colson Whitehead,Cora is a slave on a cotton plantation in Geor...,Hardcover,Historical,August,306,Doubleday Books,4.03,The Underground Railroad,2016.0,1
2,Paul Kalanithi,"For readers of Atul Gawande, Andrew Solomon, a...",Kindle Edition,Nonfiction,January,208,Random House (first p...,4.34,When Breath Becomes Air,2016.0,1
3,Matthew Desmond,<b><i>New York Times </i>Bestseller<br/><br/>F...,Hardcover,Nonfiction,March,418,Crown,4.49,Evicted: Poverty and Profit in the American City,2016.0,1
4,Ian McGuire,LONGLISTED FOR THE MAN BOOKER PRIZE 2016,Hardcover,Historical,March,272,Henry Holt and Co. (f...,4.00,The North Water,2016.0,1

In [19]:
# this is making the dataframe with all the books

choiceawards_df = pd.concat([gr_2016_df, gr_2017_df, gr_2018_df])

In [21]:
choiceawards_df.shape

(1220, 10)

In [22]:
doubled_books_df = choiceawards_df[choiceawards_df.duplicated(['title'], keep=False)]

In [23]:
doubled_books_df.shape

(96, 10)

In [24]:
choiceawards_df = choiceawards_df.drop_duplicates(subset='title')#, keep="last")

In [25]:
choiceawards_df.shape

(1171, 10)

In [26]:
# set best seller feature to false
choiceawards_df['best_seller'] = 0

In [27]:
choiceawards_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
0,Liane Moriarty,Six responsible adults. Three cute kids. One s...,Hardcover,Fiction,July,415,Flatiron Books,3.56,Truly Madly Guilty,2016.0,0
1,Bryn Greenwood,"As the daughter of a meth dealer, Wavy knows n...",Hardcover,Fiction,August,346,Thomas Dunne Books,4.07,All the Ugly and Wonderful Things,2016.0,0
2,Emma Cline,"Northern California, during the violent end of...",Hardcover,Fiction,June,355,Random House,3.47,The Girls,2016.0,0
3,Cynthia D'Aprix Sweeney,"<i>A warm, funny and acutely perceptive debut ...",Hardcover,Fiction,March,368,Ecco,3.42,The Nest,2016.0,0
4,Jodi Picoult,Ruth Jefferson is a labor and delivery nurse a...,Hardcover,Fiction,October,480,Ballantine Books,4.35,Small Great Things,2016.0,0

In [28]:
all_books = pd.concat([choiceawards_df, nyt_df])
all_books.shape
# all_books nyt best sellers and all the books from good reads so there are duplicates

(1460, 11)

In [29]:
all_books.head()

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
0,Liane Moriarty,Six responsible adults. Three cute kids. One s...,Hardcover,Fiction,July,415,Flatiron Books,3.56,Truly Madly Guilty,2016.0,0
1,Bryn Greenwood,"As the daughter of a meth dealer, Wavy knows n...",Hardcover,Fiction,August,346,Thomas Dunne Books,4.07,All the Ugly and Wonderful Things,2016.0,0
2,Emma Cline,"Northern California, during the violent end of...",Hardcover,Fiction,June,355,Random House,3.47,The Girls,2016.0,0
3,Cynthia D'Aprix Sweeney,"<i>A warm, funny and acutely perceptive debut ...",Hardcover,Fiction,March,368,Ecco,3.42,The Nest,2016.0,0
4,Jodi Picoult,Ruth Jefferson is a labor and delivery nurse a...,Hardcover,Fiction,October,480,Ballantine Books,4.35,Small Great Things,2016.0,0

## fix for publishers with messy names

In [31]:
# some publishers have extra info after their names 
all_books.loc[:,['publisher']].head()

            publisher
0      Flatiron Books
1  Thomas Dunne Books
2        Random House
3                Ecco
4    Ballantine Books

In [32]:
publishers = all_books['publisher']
len(publishers)

1460

In [33]:
publishers.iloc[8]

'Random House                          (first published January 6th 2016'

In [34]:
clean_publishers = []
for i in publishers:
    clean_publishers.append(i.split('   ')[0])

In [35]:
len(clean_publishers)

1460

In [36]:
type(clean_publishers)

list

In [37]:
all_books['publisher'] = clean_publishers

In [38]:
len(all_books['publisher'].unique())

398

## more_than_one_df checks to see where the duplicate books are

In [39]:
more_than_one_df = all_books[all_books.duplicated(['title'], keep=False)]

In [40]:
more_than_one_df.shape

(174, 11)

In [41]:
more_than_one_df.head()

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
6,Ann Patchett,<strong>#1 <em>New York Times </em>Bestseller<...,Hardcover,Fiction,September,336,Harper,3.81,Commonwealth,2016.0,0
8,Elizabeth Strout,The profound mother-daughter bond is explored ...,Hardcover,Fiction,January,193,Random House,3.51,My Name Is Lucy Barton,2016.0,0
10,Jacqueline Woodson,Running into a long-ago friend sets memories f...,Hardcover,Fiction,August,177,Amistad,3.86,Another Brooklyn,2016.0,0
11,Jonathan Safran Foer,<b>A monumental new novel from the bestselling...,Hardcover,Fiction,September,592,"Farrar, Straus and Giroux",3.64,Here I Am,2016.0,0
12,Richard Russo,"Richard Russo, at the very top of his game, no...",Hardcover,Fiction,May,477,Knopf,4.08,Everybody's Fool,2016.0,0

In [42]:
more_than_one_df[more_than_one_df['title'].str.contains("Small Fry")==True]

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
194,Lisa Brennan-Jobs,Born on a farm and named in a field by her par...,Hardcover,Nonfiction,September,383,Grove Press,3.94,Small Fry,2018.0,0
96,Lisa Brennan-Jobs,Born on a farm and named in a field by her par...,Hardcover,Nonfiction,September,383,Grove Press,3.94,Small Fry,2018.0,1

In [43]:
all_books = all_books.drop_duplicates(subset='title', keep='last')

In [44]:
# this is to cheack that the Small Fry that was not on the bestseller list was dropped
all_books[all_books['title'].str.contains("Small Fry")==True]

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
96,Lisa Brennan-Jobs,Born on a farm and named in a field by her par...,Hardcover,Nonfiction,September,383,Grove Press,3.94,Small Fry,2018.0,1

In [45]:
check_double = all_books[all_books.duplicated(['title'], keep=False)]

In [46]:
check_double.shape

(0, 11)

In [47]:
# all_books as the nyt best sellers and non best seller labeled with 1 and 0

In [48]:
all_books.shape

(1373, 11)

In [49]:
all_books.head(15)

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
0,Liane Moriarty,Six responsible adults. Three cute kids. One s...,Hardcover,Fiction,July,415,Flatiron Books,3.56,Truly Madly Guilty,2016.0,0
1,Bryn Greenwood,"As the daughter of a meth dealer, Wavy knows n...",Hardcover,Fiction,August,346,Thomas Dunne Books,4.07,All the Ugly and Wonderful Things,2016.0,0
2,Emma Cline,"Northern California, during the violent end of...",Hardcover,Fiction,June,355,Random House,3.47,The Girls,2016.0,0
3,Cynthia D'Aprix Sweeney,"<i>A warm, funny and acutely perceptive debut ...",Hardcover,Fiction,March,368,Ecco,3.42,The Nest,2016.0,0
4,Jodi Picoult,Ruth Jefferson is a labor and delivery nurse a...,Hardcover,Fiction,October,480,Ballantine Books,4.35,Small Great Things,2016.0,0
5,Curtis Sittenfeld,This version of the Bennet family and Mr. Darc...,Hardcover,Fiction,April,492,Random House,3.61,Eligible,2016.0,0
7,Steven Rowley,Combining the emotional depth of,Hardcover,Fiction,June,307,Simon Schuster,3.72,Lily and the Octopus,2016.0,0
9,Helen Oyeyemi,"The key to a house, the key to a heart, the ke...",Hardcover,Short Stories,March,325,Riverhead Books,3.63,What is Not Yours is Not Yours,2016.0,0
14,Jung Yun,<b>Why should a man care for his parents when ...,Hardcover,Fiction,March,326,Picador,3.73,Shelter,2016.0,0
17,Bette Lee Crosby,On the day Jennifer Green was born a pile of s...,Kindle Edition,Fiction,September,248,Bent Pine Publishing,4.23,Silver Threads,2016.0,0
18,Tiffany McDaniel,<b>Fielding Bliss has never forgotten the summ...,Hardcover,Fiction,July,310,St. Martin's Press,3.93,The Summer that Melted Everything,2016.0,0
21,Louise Penny,Bestselling author Louise Penny pulls back the...,Hardcover,Mystery,August,389,Minotaur Books,4.42,A Great Reckoning,2016.0,0
22,Ruth Ware,"Lo Blacklock, a journalist who writes for a tr...",Hardcover,Mystery,July,340,Gallery/Scout Press,3.68,The Woman in Cabin 10,2016.0,0
23,J.D. Robb,Dennis Mira just had two unpleasant surprises....,Hardcover,Mystery,February,388,Berkley,4.36,Brotherhood in Death,2016.0,0
24,B.A. Paris,Everyone knows a couple like Jack and Grace: h...,Hardcover,Thriller,August,293,St. Martin's Press,3.94,Behind Closed Doors,2016.0,0

In [50]:
all_books.columns

all_books.head()

,author,description,format,genre,month,pages,publisher,rating,title,year,best_seller
0,Liane Moriarty,Six responsible adults. Three cute kids. One s...,Hardcover,Fiction,July,415,Flatiron Books,3.56,Truly Madly Guilty,2016.0,0
1,Bryn Greenwood,"As the daughter of a meth dealer, Wavy knows n...",Hardcover,Fiction,August,346,Thomas Dunne Books,4.07,All the Ugly and Wonderful Things,2016.0,0
2,Emma Cline,"Northern California, during the violent end of...",Hardcover,Fiction,June,355,Random House,3.47,The Girls,2016.0,0
3,Cynthia D'Aprix Sweeney,"<i>A warm, funny and acutely perceptive debut ...",Hardcover,Fiction,March,368,Ecco,3.42,The Nest,2016.0,0
4,Jodi Picoult,Ruth Jefferson is a labor and delivery nurse a...,Hardcover,Fiction,October,480,Ballantine Books,4.35,Small Great Things,2016.0,0

In [53]:
# export dataframe
#all_books.to_csv('csv_files/9_1_all_books_df.csv', encoding='utf-8', index=False)